<!DOCTYPE HTML>
<html>
    <head>
        <title>Exchange Credit Transfer Fetch</title>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/vue.min.js"></script>
        <link rel="stylesheet" href="css/materialize.min.css">
        <script src="js/materialize.min.js"></script>
    </head>
    
    <body>
        <div id="app" class="container centered">
            <datalist id="filter">
                <option v-for="v in filter_picklist" :value="v">
            </datalist>
            <h2>Exchange Credit Transfer Fetch</h2>
            <div class="row" v-for="skeys in keys_input">
                <div class="input-field col s3" v-for="key in skeys">
                    <input type="text" class="autocomplete" list="filter" :id="key" onfocus="RenderPickList(this.id)" onkeypress="return PressEnter(event)" onchange="RenderTable()"/>
                    <label :for="key">{{key}}</label>
                </div>
            </div>
            <a class="waves-effect waves-light btn" onclick="RenderTable()">Search</a>
            
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th v-for="key in keys">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="transfer_entry in transfer_data">
                        <td v-for="(detail,key) in transfer_entry">{{detail}}</td>
                    </tr>
                </tbody>
            </table>
            <p>bottom</p>
        </div>
    </body>

    <script>
var transfer_data_temp=[];

function StrContain(str1, str2){
    return str1.indexOf(str2) !== -1;
}

function PressEnter(e) {
    if (e.keyCode == 13) {
        RenderTable();
        return false;
    }
}

function AppendUnique(list,element){
    for(var i=list.length-1; i>=0;i--){
        if(list[i]==element)return list;
    }
    list.push(element);
    return list;
}

var app = new Vue({
    el: '#app',
    data: {
        transfer_data:[],
        filter_picklist:[],
        keys:[],
        keys_input:[[]],
        inputing_key:'none',
        display_index:0
    },
    methods:{
        
    }
})

function RenderPickList(key){
    console.log(key)
    app.inputing_key = key;
    app.filter_picklist=[];
    FilterData().forEach(function(element) {
        app.filter_picklist=AppendUnique(app.filter_picklist,element[key]);
    }, this);
    app.filter_picklist=app.filter_picklist.sort();
}

function FilterData(){
    var inputs = $('input');
    var filters={};
    for(var i=0; i<inputs.length; i++){
        filters[app.keys[i]]=inputs[i].value;
    }

    var temp = transfer_data.filter((transfer_entry)=>{
        for(k in transfer_entry){
            if(!transfer_entry[k].match(RegExp(filters[k],'g'))) return false;
        }
        return true;
    });
    if(temp.length==1)return temp;
    return temp.filter((transfer_entry)=>{
        if(transfer_entry['Subject']=='No record(s) found.') return false;
        return true;
    });
}

function RenderTable(){
    transfer_data_temp = FilterData();;
    app.display_index=0;
    app.transfer_data = transfer_data_temp.slice(0,Math.min(app.display_index+10,transfer_data_temp.length))
    app.display_index=10;
}

$.ajax({
    url: 'transfers.json',
    context: document.body
}).done(function(data) {
    transfer_data = data;
    app.keys = Object.keys(data[0]);
    app.keys_input = [app.keys.slice(0,4),app.keys.slice(4,8),app.keys.slice(8,10)];
    transfer_data_temp = FilterData();;
});

$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
       console.log('bottom')
       app.transfer_data = transfer_data_temp.slice(0,Math.min(app.display_index+10,transfer_data_temp.length));
       app.display_index+=10;
   }
});
$('tbody').scroll(function() {
    console.log(Math.round($('tbody').scrollLeft()+$('tbody').width()) ,$('tbody')[0].scrollWidth)
   if(Math.round($('tbody').scrollLeft()+$('tbody').width()) == $('tbody')[0].scrollWidth) {
       console.log('right')
       app.transfer_data = transfer_data_temp.slice(0,Math.min(app.display_index+10,transfer_data_temp.length));
       app.display_index+=10;
   }
});
    </script>
</html>
