<!DOCTYPE HTML>
<html>
    <head>
        <title>Exchange Credit Transfer Fetch</title>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/vue.min.js"></script>
        <link rel="stylesheet" href="css/materialize.min.css">
        <script src="js/materialize.min.js"></script>
        <script src="js/moment.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    </head>
    <body>
        <div id="app" class="container centered">
            <datalist id="filter">
                <option v-for="v in filter_picklist" :value="v">
            </datalist>
            <h2>Exchange Credit Transfer Fetch</h2>
            <p>Fetch all data from <a href="http://arr.ust.hk/ust_actoe/credit_overseas.php">http://arr.ust.hk/ust_actoe/credit_overseas.php</a> | 
            repo:<a href="https://github.com/dipsywong98/Exchange-Fetch">https://github.com/dipsywong98/Exchange-Fetch</a></p>
            <div class="row" v-for="(filter,k) in filters" style="margin-bottom:0px">
                <select class="browser-default col s3" :onchange="'app.filters['+k+'].key=this.value;RenderTable()'" style="margin-top: 15px;" :value="filter.key">
                    <option v-for="key in keys" :value="key">{{key}}</option>
                </select>
                <div class="input-field col s8">
                    <input placeholder="Filtering text or RegEx" type="text" class="autocomplete" list="filter" :id="'f'+k" :onfocus="'RenderPickList(\''+filter.key+'\')'" :onkeypress="`return PressEnter(event,${k},this.value)`" :onchange="`app.filters[${k}].string=this.value;RenderTable()`" style="margin-bottom:0px" :value="filter.string"/>
                </div>
                <div class="col s1" style="margin-top:10px">
                    <a class="btn-floating btn waves-effect waves-light grey lighten-1" :onclick="`RemoveFilter(${k})`"><i class="tiny material-icons" style="width:40px;height:40px;margin-bottom:8px">delete</i></a>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <a class="waves-effect waves-light btn red accent-2" onclick="PushFilter()">add Filter</a>
                <a class="waves-effect waves-light btn" style="float:right;" onclick="RenderTable()">Search</a>
            </div>
            
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th v-for="key in keys">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="transfer_entry in transfer_data">
                        <td v-for="(detail,key) in transfer_entry">{{detail}}</td>
                    </tr>
                </tbody>
            </table>
            <p v-if="!!updates" style="margin-top:50px">Last Update : {{updates.message}} ({{updates.time}})</p>
        </div>
    </body>

    <script>
var transfer_data_temp=[];

function StrContain(str1, str2){
    return str1.indexOf(str2) !== -1;
}

function PressEnter(e,k,v) {
    if (e.keyCode == 13) {
        app.filters[k].string=v;
        RenderTable();
        return false;
    }
}

function AppendUnique(list,element){
    for(var i=list.length-1; i>=0;i--){
        if(list[i]==element)return list;
    }
    list.push(element);
    return list;
}

var app = new Vue({
    el: '#app',
    data: {
        transfer_data:[],
        filter_picklist:[],
        keys:[],
        filters:[],
        keys_input:[[]],
        inputing_key:'none',
        display_index:0,
        updates:false
    },
    methods:{
        
    }
})

function PushFilter(){
    app.filters.push({
        key:app.keys[0],
        string:''
    });
}

function RemoveFilter(index){
    app.filters.splice(index,1);
}

async function RenderPickList(key){
    app.inputing_key = key;
    app.filter_picklist=[];
    var temp = await FilterData()
    temp.forEach(function(element) {
        app.filter_picklist=AppendUnique(app.filter_picklist,element[key]);
    }, this);
    app.filter_picklist=app.filter_picklist.sort();
}

function FilterData(){
    return new Promise(resolve => {
        setTimeout(() => {
            temp = transfer_data;
            app.filters.forEach((filter)=>{
                [key,regex] = [filter.key,RegExp(filter.string,'g')];
                temp = temp.filter((entry)=>{
                    if(entry[key]){
                        if(!entry[key].match(regex))return false;
                        return true;
                    }
                    return false
                    
                })
            })
            resolve(temp);
        }, 1);
    });
    
}

async function RenderTable(){
    transfer_data_temp = await FilterData();;
    app.display_index=0;
    app.transfer_data = transfer_data_temp.slice(0,Math.min(app.display_index+10,transfer_data_temp.length))
    app.display_index=10;
}

async function UpdateDataTemp(){
    transfer_data_temp = await FilterData();
}

$.ajax({
    url: 'https://api.github.com/repos/dipsywong98/Exchange-Fetch/commits/master',
    context: document.body
}).done(function(data){
    app.updates = {
        message:data.commit.message,
        time:moment(data.commit.committer.date).format('YYYY-MM-DD HH:mm:ss')
    }
})

$.ajax({
    url: 'transfers.json',
    context: document.body
}).done(function(data) {
    transfer_data = data;
    app.keys = Object.keys(data[0]);
    app.keys_input = [app.keys.slice(0,4),app.keys.slice(4,8),app.keys.slice(8,10)];
    UpdateDataTemp();
    PushFilter();
});

$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
       app.transfer_data = transfer_data_temp.slice(0,Math.min(app.display_index+10,transfer_data_temp.length));
       app.display_index+=10;
   }
});
$('tbody').scroll(function() {
   if(Math.round($('tbody').scrollLeft()+$('tbody').width()) == $('tbody')[0].scrollWidth) {
       app.transfer_data = transfer_data_temp.slice(0,Math.min(app.display_index+10,transfer_data_temp.length));
       app.display_index+=10;
   }
});
    </script>
</html>
