<!DOCTYPE HTML>
<html>
    <head>
        <title>Exchange Credit Transfer Fetch</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
    
    <body>
        <div id="app" class="container centered">
            <datalist id="filter">
                <option v-for="v in filter_list" :value="v">
            </datalist>
            <h2>Exchange Credit Transfer Fetch</h2>
            <div class="row" v-for="skeys in keys_input">
                <div class="input-field col s3" v-for="key in skeys">
                    <input type="text" class="autocomplete" list="filter" :id="key" onfocus="UpdateFilterList(this.id)" onkeypress="return PressEnter(event)" onchange="UpdateTable()"/>
                    <label :for="key">{{key}}</label>
                </div>
            </div>
            <a class="waves-effect waves-light btn" onclick="UpdateTable()">Search</a>
            
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th v-for="key in keys">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="transfer_entry in transfer_data">
                        <td v-for="(detail,key) in transfer_entry">{{detail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

    <script>
function StrContain(str1, str2){
    return str1.indexOf(str2) !== -1;
}

function PressEnter(e) {
    if (e.keyCode == 13) {
        UpdateTable();
        return false;
    }
}

function AppendUnique(list,element){
    for(var i=list.length-1; i>=0;i--){
        if(StrContain(list[i],element)||StrContain(element,list[i]))return list;
    }
    list.push(element);
    return list;
}

var app = new Vue({
    el: '#app',
    data: {
        transfer_data:[],
        transfer_data_temp:[],
        filters:{},
        filter_list:[],
        keys:[],
        keys_input:[[]],
        inputing_filter:'none',
        display_index:0
    },
    methods:{
        
    }
})

function UpdateFilterList(key){
    console.log(key)
    app.inputing_filter = key;
    app.filter_list=[];
    FilterData().forEach(function(element) {
        app.filter_list=AppendUnique(app.filter_list,element[key]);
    }, this);
}

function UpdateDataTemp(){
    console.log('update filter called')

    app.transfer_data_temp = FilterData();
}

function FilterData(){
    var inputs = $('input');
    for(var i=0; i<inputs.length; i++){
        app.filters[app.keys[i]]=inputs[i].value;
    }

    return transfer_data.filter((transfer_entry)=>{
        for(k in transfer_entry){
            if(!transfer_entry[k].match(RegExp(app.filters[k],'g'))) return false;
        }
        return true;
    })
}

function UpdateTable(){
    UpdateDataTemp();
    app.display_index=0;
    app.transfer_data = app.transfer_data_temp.slice(0,Math.min(app.display_index+10,app.transfer_data_temp.length))
    app.display_index=10;
}

$.ajax({
    url: 'transfers.json',
    context: document.body
}).done(function(data) {
    transfer_data = data;
    app.keys = Object.keys(data[0]);
    app.keys_input = [app.keys.slice(0,4),app.keys.slice(4,8),app.keys.slice(8,10)];
    UpdateDataTemp();
});

$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
       console.log('bottom')
       app.transfer_data = app.transfer_data_temp.slice(0,Math.min(app.display_index+10,app.transfer_data_temp.length));
       app.display_index+=10;
   }
});
    </script>
</html>
